#navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    /* border: 1px solid black; */
    color: white;
    position: sticky;
    width: 100%;
    backdrop-filter: blur(12px);
    margin-bottom: 1%;
    top: 0px;
    z-index: 100001;
    background-color: transparent;
}

#navbar>div {
    display: flex;
    width: 10%;
    gap: 20px;
}

#navbar>h1 {
    font-size: 2rem;
}

#navbar button {
    padding: 0% 0%;
    width: 100%;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s linear;
    border-radius: 3px;
    /* border: 1px solid white; */
}

.toaster{
    z-index: 1000003 !important;
}

#userContainer{
    display: grid;
    grid-template-columns: 25% 65% 10%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 8px;
    text-align: center;
    /* border: 1px solid white; */
    cursor: pointer;
}
#userContainer  div{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid white;
}

.iconButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#userInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#userInfo > button{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:800px) {
    #navbar>h1 {
        font-size: 1.5rem;
    }
    #navbar button {
        font-size: 1rem;
    }
    #userContainer{
        gap: 0px;
        /* width: 100%; */
        font-size: 1rem;
        grid-template-columns: 85% 15%;
    }

    #userContainer >div:first-child{
        display: none;
    }

}